.caps {
  text-decoration: none;

  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
}
.opt {
  width: 90px;
  padding: 4px;
  border: 1px solid white;
  border-radius: 2px;
}

.i_cons {
  height: 25px;
  width: 25px;

  margin-top: 15px;
  margin-left: 44px;
  content: " ";
  border: 1px solid #808080;
  border-radius: 100%;
}
.i_cons:hover {
  transform: scale(1.1125);
}
