* {
  margin: 0;
  padding: 0;
}
body{
  background: rgb(43, 43, 43);

}
header,footer {
  height: 10vh;
  background-color: #131313;
  box-shadow: 0px 0px 30px 2px grey;
  display: flex;
}



.content_body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main_stuff_body{
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  flex-wrap: nowrap
  ;
}
.main_stuff {
  /* background: blue; */
  height: 80vw;
display: flex;
justify-content: center;
align-items: center;
}
.main_stuff h1{
  color: rgb(85, 82, 82);
}

.othr_plat{
  height: 5vw;
  /* background: green; */
  padding-bottom: 25px;
}
ul{
  list-style: none;
  text-decoration: none;
}
ul li{
  margin-left: 14vw;
  margin-top: 1vw;
  height: 5vw;
  width: 5vw;
  display: inline-block;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 100px;
  background: transparent;
}

ul li:hover{
  transform: scale(1.1);
  transition: 50ms;
}
a{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-decoration: none;
}


.side_option_bar:hover{
  width: 200px;
}




@media (max-height: 500px) {

  header,footer {
    height: 40px;
    background-color: #0febeb;
  }

  .main_stuff {
    height: 100vh;
  }

}
