* {
  margin: 0;
  padding: 0;
}
body{
  background: rgb(43, 43, 43);

}
header,footer {
  height: 10vh;
  background-color: #131313;
  box-shadow: 0px 0px 30px 2px grey;
  display: flex;
}

.option_hover_area{
  height: 10vh;
  width: 10vh;
}
.option_hover_icon{
  margin: 1vh;
  height: 8vh;
  width: 8vh;
  background-color: #202020;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 9px;
}
.content_body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.side_option_bar{
  width: 50px;
  height: 88.5vw;
  background-color:  rgb(76, 137, 252);
  transition: 300ms;
  flex: 0 0 auto;
}
.main_stuff_body{
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  flex-wrap: nowrap
  ;
}
.main_stuff {
  background: blue;
  height: 80vw;
}

.othr_plat{
  height: 5vw;
  background: green;
  padding-bottom: 25px;
}
ul{
  list-style: none;
  text-decoration: none;
}
ul li{
  margin-left: 14vw;
  margin-top: 1vw;
  height: 5vw;
  width: 5vw;
  display: inline-block;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 100px;
  background: transparent;
}
ul li a{
  text-decoration: none;
}


.side_option_bar:hover{
  width: 200px;
}




@media (max-height: 500px) {

  header,footer {
    height: 40px;
    background-color: #0febeb;
  }

  .main_stuff {
    height: 100vh;
  }

}
